<section
    id="about"
    class="about mt-24 bg-primary flex flex-row items-center justify-center"
>
    <div
        class="container flex flex-col md:flex-row pt-11 pb-11 px-5 md:px-8 xl:px-24 gap-10"
    >
        <div class="md:w-5/6 xl:w-1/2">
            <h2
                class="text-xl xl:text-5xl font-bold text-white mb-9 sm:text-2xl"
            >
                Tentang Kami
            </h2>
            <p
                class="text-white xl:text-2xl font-medium sm:text-base text-justify"
            >
                Kami adalah komunitas yang terbangun dari rasa ingin belajar dan
                peduli akan sesama dalam perkembangan teknologi terkini.
                Sehingga komunitas ini dibangun dibawah naungan <b
                    >Himpunan Mahasiswa Teknik Informatika STMIK Widya Cipta
                    Dharma</b
                > dari tahun 2020 dan hingga sekarang kami terus belajar dan
                mengajar kepada teman - teman mahasiswa di kampus kami dan terus
                ikut terlibat dalam kegiatan kompetisi dan lingkungan sosial di
                wilayah samarinda, Kalimantan Timur.
            </p>
        </div>
        <div class="xl:w-1/2 flex flex-col items-center justify-center">
            <img
                src="https://placehold.co/666x573"
                alt="About"
                class="rounded-lg"
            />
        </div>
    </div>
</section>
