<section
    class="achievement xl:my-40 xl:px-14 mb-10 flex flex-col items-center justify-center"
    id="achievement"
>
    <div class="achievement__title xl:mb-20">
        <h1
            class="xl:text-6xl font-bold text-center text-2xl text-primary mb-9 sm:text-3xl"
        >
            Our Achievement
        </h1>
        <p class="text-justify text-accent px-10 xl:text-2xl sm:text-sm">
            Progress kami selama ini dalam mengikuti segala bidang kompetisis
            Nasional dan Regional di Seluruh Indonesia.
        </p>
    </div>
    <div
        class="achievement__image flex flex-row items-start justify-center flex-wrap gap-2 xl:gap-10 px-10 mt-4"
    >
        <img
            src="https://placehold.co/432x250"
            alt="achievement"
            class="xl:w-[432px] xl:h-[250px]"
        />
        <img
            src="https://placehold.co/432x250"
            alt="achievement"
            class="xl:w-[432px] xl:h-[250px]"
        />
        <img
            src="https://placehold.co/432x250"
            alt="achievement"
            class="xl:w-[432px] xl:h-[250px]"
        />
    </div>
</section>
