<section
    class="achievement mt-40 pl-14 pr-14 mb-40 flex flex-col items-center justify-center"
    id="achievement"
>
    <div class="achievement__title mb-20">
        <h1 class="xl:text-6xl font-bold text-primary text-center sm:text-3xl">
            Our Achievement
        </h1>
        <p class="text-center text-base text-accent mt-5 sm:text-sm">
            Progress kami selama ini dalam mengikuti segala bidang kompetisis
            Nasional dan Regional di Seluruh Indonesia.
        </p>
    </div>
    <div
        class="achievement__image flex flex-row items-start justify-center flex-wrap gap-10"
    >
        <img
            src="https://placehold.co/432x250"
            alt="achievement"
            class="w-[432px] h-[250px]"
        />
        <img
            src="https://placehold.co/432x250"
            alt="achievement"
            class="w-[432px] h-[250px]"
        />
        <img
            src="https://placehold.co/432x250"
            alt="achievement"
            class="w-[432px] h-[250px]"
        />
    </div>
</section>
