<div class="copyright-container bg-primary w-full py-2">
    <h1
        class="xl:text-2xl text-secondary font-semibold text-center pt-1 pb-1 sm:text-lg"
    >
        &copy;2023 - Wicida Developers
    </h1>
</div>
