---
import { Icon } from 'astro-icon'
---

<div
    class="footer-container pt-[76px] pb-[76px] pl-9 pr-9 flex flex-row items-center justify-evenly bg-footerBackground mb-4 sm:gap-20"
>
    <div
        class="widev-container flex flex-col items-start justify-between gap-10"
    >
        <div class="widev__image">
            <img src="/widev.png" alt="widev logo" class="sm:w-1/2 xl:w-100" />
        </div>
        <div class="widev_motto">
            <p class="xl:text-xl font-medium xl:w-80 sm:w-100 sm:text-base">
                We Build, We Learn, and <br />
                 We Develope For Better Future
            </p>
        </div>
        <div class="widev_links">
            <div class="flex flex-row gap-8">
                <a href="" class="button text-primary">
                    <Icon
                        name="ant-design:github-filled"
                        class="xl:w-8 xl:h-8 sm:h-6 sm:w-6"
                    />
                </a>
                <a href="" class="button text-primary">
                    <Icon
                        name="ant-design:instagram-filled"
                        class="xl:w-8 xl:h-8 sm:h-6 sm:w-6"
                    />
                </a>
                <a href="" class="button text-primary">
                    <Icon
                        name="ic:outline-facebook"
                        class="xl:w-8 xl:h-8 sm:h-6 sm:w-6"
                    />
                </a>
                <a href="" class="button text-primary">
                    <Icon
                        name="mdi:linkedin"
                        class="xl:w-8 xl:h-8 sm:h-6 sm:w-6"
                    />
                </a>
            </div>
        </div>
    </div>
    <div class="link flex flex-row gap-10">
        <div class="link__container-1 flex flex-col gap-7">
            <a href="#about" class="bottom-nav xl:text-2xl sm:text-base"
                >About</a
            >
            <a href="#member" class="bottom-nav xl:text-2xl sm:text-base"
                >Member</a
            >
        </div>
        <div class="link__container-2 flex flex-col gap-7">
            <a href="#project" class="bottom-nav xl:text-2xl sm:text-base"
                >Our Project</a
            >
            <a href="#achievement" class="bottom-nav xl:text-2xl sm:text-base"
                >Achievement</a
            >
        </div>
    </div>
    <div class="email-and-location flex-col flex gap-4">
        <div class="email">
            <p class="xl:text-3xl sm:text-xl font-medium text-primary">
                WIDEV@Gmail.com
            </p>
        </div>
        <div class="location xl:w-80 sm:w-100">
            <p class="xl:text-xl sm:text-sm font-medium text-start">
                Jl. M. Yamin, Gn. Kelua, Kec. Samarinda Ulu, Kota Samarinda,
                Kalimantan Timur 75123
            </p>
        </div>
    </div>
</div>

<script is:inline>
    // when anchor clicked scroll to section - 100px
    const bottomAncorLinks = document.querySelectorAll('.bottom-nav')
    const bottomAnchorLinksArr = Array.prototype.slice.call(bottomAncorLinks)

    bottomAnchorLinksArr.forEach((link) => {
        link.addEventListener('click', (e) => {
            e.preventDefault()
            const targetId = link.hash
            const targetElement = document.querySelector(targetId)
            const targetOffsetTop =
                window.scrollY + targetElement.getBoundingClientRect().top - 100
            window.scrollTo({
                top: targetOffsetTop,
                behavior: 'smooth',
            })
        })
    })
</script>
