---
import { Icon } from "astro-icon";
---

<div class="flex flex-row w-100 pl-9 pr-9 pt-7 justify-between items-center">
  <div class="image-container">
    <img src="/widev.png" alt="Illustration" class="w-100" />
  </div>
  <div class="navigation-container">
    <div class="flex flex-row justify-between items-center w-100 gap-8">
      <a href="#about" class="text-base font-semibold text-accent mr-5"
        >About Us</a
      >
      <a href="#member" class="text-base font-semibold text-accent mr-5"
        >Member</a
      >
      <a href="#project" class="text-base font-semibold text-accent mr-5"
        >Project</a
      >
      <a href="#achievement" class="text-base font-semibold text-accent mr-5"
        >Achievement</a
      >
    </div>
  </div>
  <div class="link-icon-container">
    <div class="flex flex-row gap-8">
      <a href="" class="button text-primary">
        <Icon name="ant-design:github-filled" class="w-8 h-8" />
      </a>
      <a href="" class="button text-primary">
        <Icon name="ant-design:instagram-filled" class="w-8 h-8" />
      </a>
      <a href="" class="button text-primary">
        <Icon name="ic:outline-facebook" class="w-8 h-8" />
      </a>
      <a href="" class="button text-primary">
        <Icon name="mdi:linkedin" class="w-8 h-8" />
      </a>
    </div>
  </div>
</div>
