---
import { Icon } from 'astro-icon'

const navLinks = [
    {
        name: 'About Us',
        href: '#about',
    },
    {
        name: 'Member',
        href: '#member',
    },
    {
        name: 'Project',
        href: '#project',
    },
    {
        name: 'Achievement',
        href: '#achievement',
    },
]
---

<div
    class="header w-100 sticky top-0 z-30 flex flex-row items-center justify-between bg-white px-3 py-5 xl:px-9 xl:py-7"
>
    <div class="image-container">
        <img
            src="/widev.png"
            alt="Illustration"
            class="xl:w-100 w-20 sm:w-1/2"
        />
    </div>
    <div class="navigation-container hidden md:block">
        <div class="w-100 flex flex-row items-center justify-between gap-8">
            {
                navLinks.map((link) => {
                    return (
                        <a
                            href={link.href}
                            class="group relative mr-5 font-semibold text-accent sm:text-sm xl:text-base"
                        >
                            <span class="absolute bottom-0 h-1 w-1 transition-all duration-200 ease-in-out group-hover:w-full group-hover:bg-primary" />
                            {link.name}
                        </a>
                    )
                })
            }
        </div>
    </div>
    <div class="link-icon-container hidden md:block">
        <div class="flex flex-row gap-8">
            <a
                href="https://github.com/wicida-developers"
                class="button text-primary"
            >
                <Icon
                    name="ant-design:github-filled"
                    class="sm:h-6 sm:w-6 xl:h-8 xl:w-8"
                />
            </a>
            <a
                href="https://www.instagram.com/wicida.developers/"
                class="button text-primary"
            >
                <Icon
                    name="ant-design:instagram-filled"
                    class="sm:h-6 sm:w-6 xl:h-8 xl:w-8"
                />
            </a>
            <a href="" class="button text-primary">
                <Icon
                    name="ic:outline-facebook"
                    class="sm:h-6 sm:w-6 xl:h-8 xl:w-8"
                />
            </a>
            <a href="" class="button text-primary">
                <Icon name="mdi:linkedin" class="sm:h-6 sm:w-6 xl:h-8 xl:w-8" />
            </a>
        </div>
    </div>
    <div class="hamburger-container md:hidden">
        <button
            onclick="openMobileMenu()"
            class="hamburger hamburger--collapse"
            type="button"
            aria-label="Menu"
            aria-controls="navigation"
        >
            <Icon name="ion:menu" class="h-8 w-8 text-primary" />
        </button>
    </div>
</div>

<script is:inline>
    // when anchor clicked scroll to section - 100px
    const anchorLinks = document.querySelectorAll('a[href^="#"]')
    const anchorLinksArr = Array.prototype.slice.call(anchorLinks)

    anchorLinksArr.forEach((link) => {
        link.addEventListener('click', (e) => {
            e.preventDefault()
            const targetId = link.hash
            const targetElement = document.querySelector(targetId)
            const targetOffsetTop =
                window.scrollY + targetElement.getBoundingClientRect().top - 100
            window.scrollTo({
                top: targetOffsetTop,
                behavior: 'smooth',
            })
        })
    })

    function openMobileMenu() {
        const mobileMenu = document.querySelector('#mobile-menu')

        const isMobileMenuHidden = mobileMenu.classList.contains('hidden')

        if (isMobileMenuHidden) {
            const isMobileMenuFadeOut = mobileMenu.classList.contains(
                'animate__fadeOutRight'
            )

            if (isMobileMenuFadeOut) {
                mobileMenu.classList.replace(
                    'animate__fadeOutRight',
                    'animate__fadeInRight'
                )
            }

            setTimeout(() => {
                mobileMenu.classList.remove('hidden')
            }, 500)
        } else {
            mobileMenu.classList.replace(
                'animate__fadeInRight',
                'animate__fadeOutRight'
            )

            setTimeout(() => {
                mobileMenu.classList.add('hidden')
            }, 500)
        }
    }
</script>
