---

---

<section class="mt-4 pl-9 pr-9 mb-4">
    <img
        class="inset-0 w-44 h-135 object-cover absolute mt-24"
        src="/bg-shape.png"
        alt="Hero Image"
    />
    <div class="title flex flex-col items-center justify-center">
        <h2 class="font-semibold text-3xl text-primary">
            We Build, We Learn, and We Develop
        </h2>
        <h1 class="font-bold text-8xl text-primary">For Better Future</h1>
    </div>
    <div class="flex flex-col items-center justify-center">
        <p class="text-center text-accent text-2xl mt-10">
            Selamat datang di WIDEV, komunitas mahasiswa penuh semangat dalam
            pengembangan web dan mobile! Bergabunglah untuk mengakses kelas,
            workshop, proyek kolaboratif, dan diskusi yang memperkaya
            pengetahuan Anda. Temukan ruang untuk belajar, berkolaborasi, dan
            bersaing dalam kompetisi. Bangun masa depan teknologi bersama kami
            di WIDEV!
        </p>
    </div>
    <div class="team-image flex flex-col items-center justify-center mt-10">
        <img
            class="w-3/6 object-cover rounded-2xl"
            src="https://placehold.co/898x396"
            alt="Team Image"
        />
    </div>
    <div class="supported-by flex flex-col items-center justify-center mt-20">
        <h2 class="font-semibold text-2xl text-accent">Supported By</h2>
        <div class="flex flex-row items-center justify-center mt-10 gap-20">
            <img
                class="w-1/4 object-cover"
                src="/wicida.png"
                alt="Wicida Logo"
            />
            <img
                class="w-1/4 object-cover"
                src="hima-ti.png"
                alt="Hima TI Logo"
            />
            <img
                class="w-1/4 object-cover"
                src="/kampus-merdeka.png"
                alt="Kampus Merdeka Logo"
            />
        </div>
    </div>
</section>
