<section
    class="main-section mb-4 mt-4 flex flex-col items-center justify-center pl-9 pr-9"
>
    <img
        class="absolute inset-0 mt-24 h-96 object-cover md:h-135"
        src="/bg-shape.png"
        alt="Hero Image"
    />
    <div class="title flex flex-col items-center justify-center">
        <h2 class="text-xs font-semibold text-primary sm:text-lg xl:text-3xl">
            We Build, We Learn, and We Develop
        </h2>
        <h1 class="text-3xl font-bold text-primary sm:text-4xl xl:text-8xl">
            For Better Future
        </h1>
    </div>
    <div class="flex flex-col items-center justify-center">
        <p class="mt-10 text-center text-accent sm:text-base xl:text-2xl">
            Selamat datang di WIDEV, komunitas mahasiswa penuh semangat dalam
            pengembangan web dan mobile! Bergabunglah untuk mengakses kelas,
            workshop, proyek kolaboratif, dan diskusi yang memperkaya
            pengetahuan Anda. Temukan ruang untuk belajar, berkolaborasi, dan
            bersaing dalam kompetisi. Bangun masa depan teknologi bersama kami
            di WIDEV!
        </p>
    </div>
    <div class="team-image mt-10 flex flex-col items-center justify-center">
        <img
            class="w-6/6 rounded-2xl object-cover"
            src="https://placehold.co/898x396"
            alt="Team Image"
        />
    </div>
    <div
        class="supported-by mt-10 flex flex-col items-center justify-center md:mt-20"
    >
        <h2 class="font-semibold text-accent sm:text-base xl:text-2xl">
            Supported By
        </h2>
        <div
            class="mt-10 flex flex-row items-center justify-center gap-6 md:gap-16 xl:gap-20"
        >
            <img
                class="w-1/4 object-cover"
                src="/wicida.png"
                alt="Wicida Logo"
            />
            <img
                class="w-1/4 object-cover"
                src="hima-ti.png"
                alt="Hima TI Logo"
            />
            <img
                class="w-1/4 object-cover"
                src="/kampus-merdeka.png"
                alt="Kampus Merdeka Logo"
            />
        </div>
    </div>
</section>
