---
const { members } = Astro.props

import TeamCard from '../components/TeamCard.astro'
import type { Member } from '../pages/index.astro'
---

<section
    id="member"
    class="member mt-20 xl:my-40 xl:px-14 mb-10 flex flex-row items-center justify-center"
>
    <div class="container flex flex-col items-center justify-center">
        <div
            class="title-container flex flex-col items-center justify-center mb-10"
        >
            <h2
                class="xl:text-6xl font-bold text-center text-2xl text-primary mb-9 sm:text-3xl"
            >
                WIDEV Team Member
            </h2>
            <p class="text-justify text-accent px-10 xl:text-2xl sm:text-sm">
                We are the person who been teaching, developing, and learning so
                many new stuff in technology as Web Development, Mobile
                Development, Data Analyst, UI/UX and other kinda things that
                make us is who it is
            </p>
        </div>
        <div
            class="team-container flex flex-row items-start flex-wrap justify-evenly w-full gap-5"
        >
            {
                members.map((member: Member) => (
                    <TeamCard
                        name={member.name}
                        role={member.role}
                        image={member.image}
                        social={member.social}
                    />
                ))
            }
        </div>
    </div>
</section>
