---
import { Icon } from 'astro-icon'

const navLinks = [
    {
        name: 'About Us',
        href: '#about',
    },
    {
        name: 'Member',
        href: '#member',
    },
    {
        name: 'Project',
        href: '#project',
    },
    {
        name: 'Achievement',
        href: '#achievement',
    },
]
---

<div
    id="mobile-menu"
    class="mobile-menu-container animate__animated animate__fadeInRight fixed top-16 z-20 hidden h-screen w-screen"
>
    <div class="h-full overflow-y-auto bg-white py-4">
        <ul class="flex flex-col items-start justify-between gap-5">
            {
                navLinks.map((link) => {
                    return (
                        <li class="borderaccent w-full border-b-2 px-3 py-2">
                            <a
                                id="mobile-menu-link"
                                href={link.href}
                                class="group relative mr-5 font-semibold text-accent sm:text-sm xl:text-base"
                            >
                                <span class="absolute bottom-0 h-1 w-1 transition-all duration-200 ease-in-out group-hover:w-full group-hover:bg-primary" />
                                {link.name}
                            </a>
                        </li>
                    )
                })
            }
        </ul>
        <div class="link-icon-container mt-8">
            <div class="flex flex-row items-center justify-center gap-8">
                <a
                    href="https://github.com/wicida-developers"
                    class="button text-primary"
                >
                    <Icon name="ant-design:github-filled" class="h-8 w-8" />
                </a>
                <a
                    href="https://www.instagram.com/wicida.developers/"
                    class="button text-primary"
                >
                    <Icon name="ant-design:instagram-filled" class="h-8 w-8" />
                </a>
                <a href="" class="button text-primary">
                    <Icon name="ic:outline-facebook" class="h-8 w-8" />
                </a>
                <a href="" class="button text-primary">
                    <Icon name="mdi:linkedin" class="h-8 w-8" />
                </a>
            </div>
        </div>
    </div>
</div>

<script is:inline>
    const menu = document.getElementById('mobile-menu')
    const menuLink = document.querySelectorAll('#mobile-menu-link')

    menuLink.forEach((link) => {
        link.addEventListener('click', () => {
            menu.classList.remove('animate__fadeInRight')
            menu.classList.add('animate__fadeOutRight')
            setTimeout(() => {
                menu.classList.add('hidden')
            }, 500)
        })
    })
</script>
