---
import type { Project } from '../pages/index.astro'
import ProjectCard from './ProjectCard.astro'
import { Icon } from 'astro-icon'

const { projects } = Astro.props
---

<section
    class="project mt-40 pl-14 pr-14 mb-40 flex flex-row items-center justify-center"
    id="project"
>
    <div class="container flex flex-col items-center justify-center">
        <div
            class="title-container flex flex-col items-center justify-center mb-10"
        >
            <h2
                class="xl:text-6xl font-bold text-center text-primary mb-9 sm:text-3xl"
            >
                Our Project
            </h2>
            <p class="text-center text-accent w-3/6 sm:text-sm">
                We are the person who been teaching, developing, and learning so
                many new stuff in technology as Web Development, Mobile
                Development, Data Analyst, UI/UX and other kinda things that
                make us is who it is
            </p>
        </div>
        <div
            class="project-container flex flex-col items-center xl:justify-evenly xl:gap-16 sm:gap-10"
        >
            {
                projects.map((project: Project) => (
                    <ProjectCard
                        title={project.title}
                        description={project.description}
                        image={project.image}
                        link={project.link}
                    />
                ))
            }
        </div>
        <div
            class="button-container flex flex-row items-center justify-center mt-10"
        >
            <a
                href="https://github.com/wicida-developers"
                target="_blank"
                class="explore-more flex flex-row items-center justify-center text-white bg-primary pr-8 pl-8 pt-4 pb-4 rounded-lg text-base font-bold"
            >
                Explore More Of Our Project
                <Icon name="ep:right" class="ml-4 w-6 h-6" />
            </a>
        </div>
    </div>
</section>
