<button
    onclick="topFunction()"
    id="myBtn"
    title="Go to top"
    class="back-to-top hidden fixed bottom-24 right-5 z-50 p-1 border-2 border-black rounded-full text-white focus:outline-none transition animate__animated animate__fadeIn"
>
    <svg
        class="w-8"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <path
                d="M5 15L10 9.84985C10.2563 9.57616 10.566 9.35814 10.9101 9.20898C11.2541 9.05983 11.625 8.98291 12 8.98291C12.375 8.98291 12.7459 9.05983 13.0899 9.20898C13.434 9.35814 13.7437 9.57616 14 9.84985L19 15"
                class="stroke-black"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
        </g></svg
    >
</button>

<script is:inline>
    //  When the user scrolls down 20px from the top of the document, show the button and the button should be following the user's scroll in the bottom right corner of the screen.

    window.onscroll = function () {
        scrollFunction()
    }

    function scrollFunction() {
        if (document.documentElement.scrollTop > 40) {
            document.getElementById('myBtn').style.display = 'block'
            document
                .getElementById('myBtn')
                .classList.replace('animate__fadeOut', 'animate__fadeIn')
        } else if (document.documentElement.scrollTop == 0) {
            document
                .getElementById('myBtn')
                .classList.replace('animate__fadeIn', 'animate__fadeOut')
            // timeout to wait for the animation to finish
            setTimeout(() => {
                document.getElementById('myBtn').style.display = 'none'
            }, 500)
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0 // For Safari
        document.documentElement.scrollTop = 0 // For Chrome, Firefox, IE and Opera
    }
</script>
